body {
  color: #222;
  background-color: #ffffff;
  font-size: 20px;
}

body,
code {
  font-family: "Inconsolata", monospace;
}

h1,
h2,
h3 {
  font-size: inherit;
  display: inline;
  font-weight: bold;
}

h2::before {
  content: "## ";
}

h3::before {
  content: "### ";
}

p {
  margin: 30px 0;
}

h1 + p,
h2 + p,
h3 + p {
  margin-top: 0;
}

p.listing {
  margin-top: 0;
}

hr {
  margin: 0;
  border: none;
}

hr::after {
  content: "---";
  display: block;
  text-align: center;
}

.main {
  box-sizing: border-box;
  width: 650px;
  padding: 30px;
  margin: 40px auto;
}

.blog-title {
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
}

.article {
  margin: 34px 0;
  line-height: 1.6;
}

a,
a:visited {
  color: #9d261d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  background-color: #9d261d;
  color: #fff;
  outline: none;
  text-decoration: none;
}

.date {
  float: right;
  color: #767676;
  font-style: italic;
}

.tweet {
  float: right;
}

code {
  background-color: #eeeeee;
}

pre {
  border-left: 1px solid #d9d9d9;
  position: relative;
  left: -20px;
  padding-left: 20px;
  overflow-x: scroll;
}

pre code {
  background-color: #ffffff;
  display: block;
}

img {
  border: 2px solid black;
  width: 100%;
}

.flex {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;

  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

.demo {
  border: 2px solid #000;
  box-sizing: border-box;
  margin: 20px 0;
  padding: 40px 0;
}

.flash-item {
  animation: flash 8s linear 0s infinite;
  -webkit-animation: flash 8s linear 0s infinite;
  -moz-animation: flash 8s linear 0s infinite;
  -o-animation: flash 8s linear 0s infinite;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
}
@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
}
@-moz-keyframes flash {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
}
@-o-keyframes flash {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
}

@media (max-width: 650px) {
  body {
    font-size: 24px;
    line-height: 1.4;
  }

  .main {
    width: 100%;
    padding: 10px;
    margin-top: 0;
  }

  .article {
    margin-top: 30px;
  }

  .date {
    float: none;
    display: block;
  }

  .sep {
    display: none;
  }

  header a {
    display: block;
  }
}
