body {
  color: #222;
  background-color: #ffffff;
  font-size: 20px;
}

body, code {
  font-family: 'Inconsolata';
}

h1 a:visited {
  color: inherit;
}

h1, h2, h3 {
  font-size: inherit;
  display: inline;
  font-weight: bold;
}

h2::before {
  content: "## ";
}

h3::before {
  content: "### ";
}

hr {
  margin: 0;
  border: none;
  height: 1px;
  background-color: #aaa;
}

.main {
  box-sizing: border-box;
  width: 650px;
  padding: 30px;
  margin: 40px auto;
}

.blog-title {
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
}

.article {
  margin: 50px 0;
}

header a, header a:visited,
.article a, .article a:visited {
  color: #9d261d;
  text-decoration: none;
}

header a:hover, .article a:hover,
header a:focus, .article a:focus {
  text-decoration: underline;
}

.date {
  float: right;
  color: #999;
  font-style: italic;
}

.content {
  line-height: 1.6;
}

.tweet {
  float: right;
}

code {
  background-color: #eeeeee;
}

pre {
  border-left: 1px solid #d9d9d9;
  position: relative;
  left: -20px;
  padding-left: 20px;
  overflow-x: scroll;
}

pre code {
  background-color: #ffffff;
  display: block;
}

img {
  width: 100%;
}

.flex {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.demo {
  border: 2px solid #000;
  box-sizing: border-box;
  margin: 20px 0;
  padding: 8px;
}

.flash-item {
  animation: flash 8s linear 0s infinite;
  -webkit-animation: flash 8s linear 0s infinite;
  -moz-animation: flash 8s linear 0s infinite;
  -o-animation: flash 8s linear 0s infinite;
}

.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@keyframes flash {
  0%   {opacity: 1.0;}
  10%  {opacity: 0.1;}
  20%  {opacity: 1.0;}
}
@-webkit-keyframes flash {
  0%   {opacity: 1.0;}
  10%  {opacity: 0.1;}
  20%  {opacity: 1.0;}
}
@-moz-keyframes flash {
  0%   {opacity: 1.0;}
  10%  {opacity: 0.1;}
  20%  {opacity: 1.0;}
}
@-o-keyframes flash {
  0%   {opacity: 1.0;}
  10%  {opacity: 0.1;}
  20%  {opacity: 1.0;}
}


@media (max-width: 650px) {
  body {
    font-size: 24px;
    line-height: 1.4;
  }

  .main {
    width: 100%;
    padding: 10px;
    margin-top: 0;
  }

  .article {
    margin-top: 30px;
  }

  .date {
    float: none;
    display: block;
  }

  .sep {
    display: none;
  }

  header a {
    display: block;
  }
}
