.main {
  margin: 0;
}

#editor {
  border-left: 1px solid black;
  position: fixed;
  top: 0; bottom: 0;
  right: 0;
  width: 500px;
  padding: 10px;
}

#editor input,
#editor textarea,
#editor-save-button {
  width: 100%;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
}

#editor textarea {
  height: 410px;
}

#editor-save-button {
  height: 40px;
}
