<article class="article">
  <header class="title">
    <% if ((typeof timeless === "undefined" || !timeless) && date) { %>
      <div class="date">
        <%= strftime('%B %d, %Y', date) %>
      </div>
    <% } %>
    <h1><%= title %></h1>
    <br>
  </header>

  <section class="content">
    <%- body %>
  </section>

  <footer class="more details">
    --
    <br><br>
    <a target="_blank" href="<%= plugins.tweet(title, route) %>" class="tweet">tweet this</a>
    <a href="/">&laquo; back to home</a>
  </footer>
</article>
