<article class="article">
  <header class="title">
    <% if (typeof hidden !== "undefined" && hidden) { %>
      <p>
        <strong>Note:</strong>
        This article is hidden and is only available to those with a link.
      </p>
    <% } %>

    <% if ((typeof timeless === "undefined" || !timeless) && date) { %>
      <div class="date">
        <%= date %>
      </div>
    <% } %>
    <h1><%= title %></h1>
    <br>
  </header>

  <section class="content">
    <%- body %>
  </section>

  <footer class="more details">
    --
    <br><br>
    <a target="_blank" href="<%= tweetUrl %>" class="tweet">tweet this</a>
    <a href="/">&laquo; back to home</a>
  </footer>
</article>
