<!doctype html>
<html>
<head>
  <title><%= title %></title>
  <%- stylesheets %>
  <link href="http://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet"type="text/css">
  <meta charset="utf-8">
  <link rel="Shortcut Icon" type="image/x-icon" href="http://s.gravatar.com/avatar/3517596df161030c3779c532f7844383?s=32.gif" />
</head>
<body>
  <div class="main">
    <header>
        <span class="flash" aria-hidden="true">////////</span>
        <strong>jordan scales</strong>
        <span class="sep" aria-hidden="true">.</span>
        <a href="/">home</a>
        <span class="sep" aria-hidden="true">.</span>
        <a href="/projects">projects</a>
        <span class="sep" aria-hidden="true">.</span>
        <a href="http://twitter.com/jdan">twitter</a>
        <span class="sep" aria-hidden="true">.</span>
        <a href="http://github.com/jdan">github</a>
    </header>

    <%- body %>
  </div>

  <%- scripts %>
</body>
</html>
