<!doctype html>
<html>
<head>
  <title><%= title %></title>
  <%- stylesheets %>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="main">
    <header>
        <span class="flash" aria-hidden="true">////////</span>
        jordan scales
        .
        <a href="/">home</a>
        .
        <a href="/projects">projects</a>
        .
        <a href="http://twitter.com/jdan">twitter</a>
        .
        <a href="http://github.com/jdan">github</a>
    </header>

    <%- body %>
  </div>

  <%- scripts %>
</body>
</html>
