<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <%- stylesheets %>
    <link href="http://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet"type="text/css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=480">
    <link rel="Shortcut Icon" type="image/x-icon" href="http://s.gravatar.com/avatar/3517596df161030c3779c532f7844383?s=32.gif" />
</head>
<body>
    <div class="main">
        <header>
            <span class="flash" aria-hidden="true">////////</span>
            <strong>jordan scales</strong>
            <span class="sep" aria-hidden="true">.</span>
            <a href="/">home</a>
            <span class="sep" aria-hidden="true">.</span>
            <a href="/projects">projects</a>
            <span class="sep" aria-hidden="true">.</span>
            <a href="http://twitter.com/jdan">twitter</a>
            <span class="sep" aria-hidden="true">.</span>
            <a href="http://github.com/jdan">github</a>
        </header>

        <%- body %>
    </div>

    <%- scripts %>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-60897046-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
