.a11y-onclick .button {
  text-align: center;
  margin-right: 20px;
  width: 100px;
  color: white;
  padding: 15px 25px;
  background-color: #0074f6;
}

.a11y-onclick.active:not(.no-active) .button {
  background-color: #004a93;
}

.a11y-onclick .output {
  width: 200px;
  padding: 15px;
  background-color: #e9e9e9;
}

.a11y-onclick.active .mouse-pointer {
  top: 29px;
}

.a11y-onclick .row {
  width: 100%;
}

.a11y-onclick .enter-key {
  margin: 0 auto 20px;
  width: 129px;
  padding: 15px 25px;
  background-color: #222222;
  color: #ffffff;
  text-align: right;
  border-radius: 7px;
  border-bottom: 5px solid #666666;
}

.a11y-onclick.active .enter-key {
  margin-top: 3px;
  border-bottom-width: 2px;
}

.a11y-onclick .button.focused {
  outline: 3px solid #000000;
}
