.mouse-pointer {
  -webkit-transform: rotateZ(-20deg);
  -moz-transform: rotateZ(-20deg);
  -ms-transform: rotateZ(-20deg);
  -o-transform: rotateZ(-20deg);
  transform: rotateZ(-20deg);
  position: relative;
  width: 0;
  top: 27px;
  right: 45px;
}

.mouse-pointer .head {
  border-left: 7px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 16px solid white;
  width: 0;
  height: 0;
}

.mouse-pointer .tail {
  width: 3px;
  height: 8px;
  position: relative;
  left: 5px;
  top: -1px;
  background-color: #ffffff;
}
